alembic==1.7.7
async-timeout==4.0.2
cachelib==0.6.0
certifi==2020.6.20
click==7.1.2
dataclasses==0.8
Deprecated==1.2.13
Flask==1.1.4
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
Mako==1.1.6
MarkupSafe==2.0.1
packaging==21.3
Pillow==8.4.0
pyparsing==3.0.7
redis==4.2.2
SQLAlchemy==1.4.34
typing_extensions==4.1.1
Werkzeug==1.0.1
wrapt==1.14.0
WTForms==3.0.0
zipp==3.6.0
